@import "tailwindcss";
@import 'lenis/dist/lenis.css';

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@theme {
  --color-background: #E6F7FF;
  --color-darkp: #021A26;
  --color-lights: #006598;
  --color-opa: #ffffff00;
}

body {
  background: #E6F7FF;
  color: #021A26;
}

@layer utilities {
  .clip-overlay {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
}

.line-mask {
  @apply block overflow-hidden;
}

.custom-grid {
  @apply grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-2 md:gap-4 lg:gap-8 px-2 md:px-4 lg:px-8;
}

.max-size {
  @apply col-span-3 md:col-span-5 lg:col-span-7;
}

.article {
    @apply flex flex-col gap-8 text-lg tracking-wide mb-20;
}

.article > h1 {
    @apply text-[clamp(2.5rem,5vw,6rem)] tracking-tight font-bold capitalize leading-none;
}

.article > h2 {
    @apply text-3xl tracking-tight;
}

.article > ol {
    @apply list-decimal flex flex-col mx-10 gap-2;
}

.article > ul {
    @apply list-disc flex flex-col mx-10 gap-2;
}

.article > pre {
    @apply bg-neutral-950 text-neutral-50 p-5 overflow-scroll;
}

.article > blockquote {
    @apply pl-5 italic border-l-2 border-neutral-600;
}

.article > p > img {
    @apply mx-auto aspect-video object-cover object-top;
}