@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@theme {
  --color-background: #E6F7FF;
  --color-darkp: #021A26;
  --color-lights: #006598;
}

body {
  background: #E6F7FF;
  color: #021A26;
}

@layer utilities {
  .clip-overlay {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
}