@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@theme {
  --color-background: #E6F7FF;
  --color-darkp: #021A26;
  --color-lights: #006598;
  --color-opa: #ffffff00;
}

body {
  background: #E6F7FF;
  color: #021A26;
}

@layer utilities {
  .clip-overlay {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
}

.line-mask {
  @apply block overflow-hidden;
}

.custom-grid {
  @apply grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-2 md:gap-4 lg:gap-8 px-2 md:px-4 lg:px-8;
}

.max-size {
  @apply col-span-3 md:col-span-5 lg:col-span-7;
}